.sendmessage-container {
  margin-top: 20px;
  display: flex;

}

input {
  margin-right: 15px;
  padding: 10px;
}

button {
  width: 100px;
}

.myname-container {
  min-width: 800px;
}

.message-input {
  min-width: 650px;
}

.message-container {
  margin-top: 20px;
  display: flex;
  border: 1px solid black;
  width: 800px;
  height: 250px;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 300px;
}

.chave-container {
  margin-top: 20px;
}

.message {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.myname-input {
  text-align: center;
}

.error-container {
  margin-top: 20px;
  color: red;
}

.you-message {
  background-color: rgba(0, 255, 76, 0.116);
}